.hand-area {
  form {
    display: inline-block;
    width: 35px;
  }
  
}

.tile-line {
  font-size: 0;
  width: 380px;
  
  li {
    display: inline-block;
    list-style: none;
    width: 33px;
    height: 45px;
    contain: layout;
    margin-left: 1px;
  }
  
  li.draw-tile {
    margin-left: 15px;
  }
}

#rest-line {
  height: 150px;
}

#hand-line {
  width: 530px;
}